{% extends "layout.html" %}

{% block title %}
{{article.title}}
{{super()}}
{% endblock %}

{% block head %}
{{super()}}
<style>
  #author {
    color: #ef5350;
  }
</style>
{% endblock %}

{% block page_content %}
<div class="article-container">
  <div class="card">
    <div class="page-header">
      <h1>{{article.title}}</h1>
      <br/>
      <p id="author">by {{article.author.username}}</p>
      {% if session['username'] == article.author.username %}
      <a id="edit-article" href="{{url_for('edit', article_id=article.id)}}">edit</a>
      <a href="{{url_for('like', article_id=article.id)}}">like</a>
      {% endif %}
    </div>
    <p class="article-text">{{article.content|safe}}</p>
  </div>
</div>
{% endblock %}
