{% extends "layout.html" %}

{% block title %}
Home
{{super()}}
{% endblock %}

{% block head %}
{{super()}}
<style>
  #author {
    color: #ef5350;
  }

  .full-card {
    -webkit-box-shadow: 10px 10px 72px -13px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 10px 10px 72px -13px rgba(0, 0, 0, 0.17);
    box-shadow: 10px 10px 72px -13px rgba(0, 0, 0, 0.17);
  }
</style>
{% endblock %}

{% block page_content %}
<div class="article-container">
  <div class="card full-card">
    <div class="page-header">
      <h1>{{article.title}}</h1>
      <br/>
      <p id="author">by {{article.author.username}}</p>
    </div>
    <p class="article-text">{{article.content}}</p>
    <a href="{{ url_for('article/{}'.format(article.id)))}}"></a>
  </div>
</div>
{% endblock %}
