<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <title>{% block title %}{% endblock %} - LIP</title>
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='base.css') }}">
    <meta name="viewport" content="width=device-width" /> {% endblock %}
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="left">
                <a href="#" class="logo">LIP</a>
            </div>
            <div class="right">
                <input class="nav-btn" type="checkbox" id="nav-btn" />
                <a href="#" class="nav-button">About</a>
                <a href="#" class="nav-button">Login</a>
                <span class="menu-button"></span>
            </div>
        </div>
        <div class="body-container">
            <div class="content-container">
                {% block content %} {% endblock %}
                <div class="content"></div>
            </div>
        </div>
        <div class="content-nav">
            <ul>
                <li>
                    <a href="#">Cantonese</a>
                </li>
                <li>
                    <a href="#">Shanghainese</a>
                </li>
                <li>
                    <a href="#">¯\_(ツ)_/¯</a>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>
