{% extends "layout.html" %}

{% block title %}
Home
{{super()}}
{% endblock %}

{% block head %}
{{super()}}
<style>
  .card-list {
    list-style-type: none;
    padding: 0;
  }
</style>
{% endblock %}

{% block page_content %}

<div class="container">
{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <button class="close" data-dismiss="alert">&times;</button>
        {{ message }}
</div>
{% endfor%}
</div>

<ul class="card-list">
  {% for article in articles%}
  <li>
    <div class="card click-card" style="border-left-color: #ef5350; cursor: pointer;">
      <div class="page-header">
        <h1>{{article.title}}</h1>
      </div>
      <p class="article-text">{{article.content | safe }}</p>
      <a href="{{ url_for('show_article', article_id=article.id) }}"></a>
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock %}
