{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block title %} - LIP{% endblock %}
{% block head %}
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  rel="stylesheet"
  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
  crossorigin="anonymous">

{{super()}}
<style>

  * {
    padding: 0;
    margin: 0;
  }

  html,
  body {
    height: 100%;
  }

  body {
    background: #f4f4f4;
  }

  a {
    color: #80cbc4
  }

  a:hover {
    color: #4f9a94;
  }

  .navbar-i {
    font-size: 1.5em;
    margin-right: 5px;
  }

  .navbar .dropdown-toggle {
    margin-right: 1em;
    margin-top: 10px;
    background: none;
    color: #999;
  }

  .navbar .dropdown-toggle:hover {
    color: #eee;
  }

  .filters-menu {
    margin-top: 18px;
    border-radius: 0;
    padding: 1em;
    min-width: 300px;
    height: -webkit-fill-available;
  }

  .filters-menu .filter-item {
    line-height: 2em;
    padding: 1em;
    border-radius: 2px;
  }

  .filter-item:hover {
    background: #d7e4e2;
    border-left: 4px solid #80cbc4;
  }

  .filter-item a {
    display: block;
    text-decoration: none;
    color: #414141;
  }

  .btn-primary,
  .btn-primary:visited,
  .btn-primary:focus {
    background-color: #80cbc4;
    border-color: #4f9a94;
  }

  .btn-primary:hover,
  .btn-primary:active {
    background-color: #4f9a94;
  }

  .navbar {
    border-radius: none;
    background: #24292e;
  }

  .navbar .container-fluid {
    padding: 12px;
  }

  #login-modal {
    background: white;
    width: 320px;
    margin: auto auto;
    padding: 0 !important;
    height: 400px;
    vertical-align: middle;
    border-radius: 16px;
  }

  .modal-header {
    text-align: center;
  }

  .login-icon {
    color: #efefef;
    font-size: 128px;
  }

  .content {
    background: none;
  }

  .navbar-brand {
    padding: 0;
    margin-left: 5px !important;
  }

  .article-text {
    font-size: 1.2em;
  }

  .content {
    margin-top: 130px;
  }

  .card {
    padding: 2em;
    margin: 0 auto;
    background: white;
    border-radius: 10px;
    border: 1px solid #eee;
    margin-bottom: 56px;
    min-height: 300px;
    max-width: 768px;
    transition: .3s;
  }

  .click-card {
    border-left: 4px solid white;
  }

  .click-card:hover {
    -webkit-box-shadow: 10px 10px 72px -13px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 10px 10px 72px -13px rgba(0, 0, 0, 0.17);
    box-shadow: 10px 10px 72px -13px rgba(0, 0, 0, 0.17);
  }

  .card .page-header {
    margin: 0;
    margin-bottom: 1em;
  }

  .card h1 {
    margin: 0;
    color: #424242;
    font-weight: bold;
  }

  .content-wrap {
    min-height: 100%;
  }

  .content {
    overflow: auto;
    padding-bottom: 180px;
  }

  footer {
    position: relative;
    margin-top: -180px;
    border-top: 6px solid #80cbc4;
    height: 180px;
    clear: both;
    background: #24292e;
  }

  .footer-container {
    padding: 4em;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    color: #efefef;
    max-width: 768px;
  }

  @media (min-width: 992px) {
    .card {
      max-width: 900px;
    }
  }

  /* mobile devices */
  @media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
      background: white;
    }

    .content {
      /* TODO: remove */
      margin-top: 230px;
    }
  }
</style>

{% endblock %}
{% block navbar %}
<div class="container-fluid base-wrapper">
  <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{url_for('index')}}">
          <img alt="LIP" src="{{url_for('static', filename='img/logo.png')}}">
        </a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li>
          {% if session.logined %}
            <a href="{{url_for('profile')}}"><span><i class="fa fa-user navbar-i"></i>Hello {{session.username}}</span></a>
          {% else %}
            <a href="{{url_for('login')}}"><span><i class="fa fa-user navbar-i"></i>Login</span></a>
          {% endif %}
        </li>
        <li>
          <div class="dropdown clearfix">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <i class="fa fa-bars navbar-i"></i>
            </button>
            <div class="dropdown-menu filters-menu" aria-labelledby="dropdownMenuButton">
              <ul class="list-unstyled components">
                <li class="filter-item">
                  <a href="#">Cantonese</a>
                </li>

                <li class="filter-item">
                  <a href="#">Shanghainese</a>
                </li>
                <li class="filter-item">
                  <a href="#">¯\_(ツ)_/¯</a>
                </li>
                <li class="filter-item">
                  <a href="#">¯\_(ツ)_/¯</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
{% endblock %}

{% block content %}
<div class="content-wrap">
<div class="content">
  {% block page_content %}{% endblock %}
</div>
</div>

<footer>
  <div class="footer-container">
    <a href="#about">About</a>
    <br/><br/>
    <p id="copyr">&copy; 2018 - LIP</p>
  </div>
</footer>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{url_for('static', filename='vmd.js')}}"></script>
{{super()}}
{% endblock %}
