{% extends "layout.html" %}

{% block title %}
{{session.username}}
{{super()}}
{% endblock %}

{% block head %}
{{super()}}
<style>
</style>
{% endblock %}

{% block page_content %}
<div class="profile-container">
  <div class="card">
    <div class="page-header">
      <h1>{{session['username']}}</h1>
    </div>
    {% if session['roletitle'] == 'admin' %}
      <a class="btn btn-default" href="{{url_for('new')}}">New Article</a>
    {% endif %}
    <a class="btn btn-primary" href="{{url_for('logout')}}">Logout</a>
  </div>
  <div class="liked-articles">
    <ul class="card-list">
      {% for article in user.likedarticles %}
      <li>
        <div class="card click-card" style="border-left-color: {{article.category.color}}; cursor: pointer;">
          <div class="page-header">
            <h1>{{article.title}}</h1>
            <br/>
            <p id="author">by {{article.author.username}}</p>
          </div>
          <p class="article-text">{{article.content | safe }}</p>
          <a class="show-article-page" href="{{ url_for('show_article', article_id=article.id) }}"></a>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
