{% extends "layout.html" %}

{% block title %}
Signup
{{super()}}
{% endblock %}

{% block head %}
{{super()}}
<style>
  .signup-container {
    margin: 0 auto;
    margin-top: 2em;
    border-radius: 10px;
    border: 1px solid #efefef;
    background: white;
    width: 512px;
    padding: 4em;
  }

  .user-icon {
    text-align: center;
  }

  .user-icon>.fa-user {
    font-size: 100px;
  }
</style>
{% endblock %} {% block page_content %}
<div class="container">
{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <button class="close" data-dismiss="alert">&times;</button>
    {{ message }}
</div>
{% endfor%}
</div>


<div class="signup-container">
  <div class="user-icon">
    <i class="fa fa-user"></i>
  </div>
  <form method="POST" action="" name="signup_form">
    {{ wtf.quick_form(form) }}
  </form>
</div>
{% endblock %}
